.event-gallery-container {
  max-width: 1200px;
  margin: 60px auto;
  padding: 0 20px;
  text-align: center;
  font-family: "Inter", sans-serif;
}

.event-gallery-title {
  font-size: 2rem;
  font-weight: 700;
  color: #4a98c9;
  margin-bottom: 40px;
}

.event-gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
  justify-items: center;
}

.event-gallery-card {
  background: #fff;
  border: 3px solid #d02b2b;
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.3s ease;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05);
}

.event-gallery-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.event-gallery-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.event-gallery-card:hover img {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .event-gallery-title {
    font-size: 1.6rem;
  }
}
/* past videos  */
.past-event-card.clickable {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.past-event-card.clickable:hover {
  transform: translateY(-6px);
}

.view-more-badge {
font-size: 15px;
    background: #ffffff;
    color: #970000;
    padding: 2px 8px;
    border-radius: 10px;
    margin-left: 8px;
    font-weight: 600;
}

/* past videos  */